In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import random as random

### **Versions**

In [ ]:
pd.show_versions()

### **Make a DataFrame**

In [ ]:
df = pd.DataFrame({'A':[1,2,3],'B':[4,5,6]})
df.head()

In [ ]:
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])
df = pd.DataFrame(arr)
df.head()

In [ ]:
pd.DataFrame(np.random.rand(4,8), columns=list('ABCDEFGH'))

### **Rename Columns**

In [ ]:
df = pd.DataFrame({'A col':[1,2,3],'B col':[4,5,6]})
df

In [ ]:
df.rename(columns={'A col':'col_a','B col':'col_b'},inplace=True)
df

In [ ]:
df.columns=['col_a','COL_A']
df

In [ ]:
df.columns=df.columns.str.replace('_','*')
df

In [ ]:
df = df.add_prefix('code_')
df

In [ ]:
df = df.add_suffix('_code')
df

### **Reverse Row order**

In [ ]:
df.loc[::-1].head()

In [ ]:
df.loc[::-1].reset_index(drop=True).head() # re-number index

### **Reverse Column order**

In [ ]:
df.loc[:,::-1].head()

### **Select a Column by dtype**

In [ ]:
df.dtypes

In [ ]:
df.select_dtypes(include=['number'])
df.select_dtypes(include=['number','category','object','float'])
df.select_dtypes(exclude=['number'])  # remove numbers columns

In [ ]:
df_cat = df.select_dtypes(exclude =['number'])
df_num = df.select_dtypes(include=['number'])
print(f'The shape of \033[4mData\033[0m is: \033[1m{df.shape}\033[0m \nThe shape of \033[4mCatagorical data\033[0m is: \033[1m{df_cat.shape}\033[0m \nThe shape of \033[4mNumeric data\033[0m is: \033[1m{df_num.shape}\033[0m')

### **Change dtype**

In [ ]:
df = pd.DataFrame({'col_A':['1','2','3','6','7','8','9','22'],
                   'col_B':['4','5','6','7','8','9','10','11']})
df.dtypes

In [ ]:
df = df.astype({'col_A':'int64','col_B':'int64'})
df.dtypes

### **Reduce DataFrame Size**

In [ ]:
df = sns.load_dataset('titanic')
df.shape

In [ ]:
df.sample(frac=0.1) # 1=10%

### **Split DataSet into two DataSets**

In [ ]:
df = sns.load_dataset('titanic')

In [ ]:
df.shape

In [ ]:
kashti_1 = df.sample(frac=0.50, random_state=1)   # 50% data
kashti_1.shape

In [ ]:
kashti_2 = df.drop(kashti_1.index)
kashti_2.shape

### **Join Two DataSets**

In [ ]:
df1 = kashti_1.append(kashti_2)
df1.shape

In [ ]:
df = pd.concat([df_cat,df_num],axis=1)

### **Filtering a DataSets**

In [ ]:
df.head(2)

In [ ]:
df.sex.unique()

In [ ]:
df[(df.sex=='female')]

In [ ]:
df[(df.embark_town=='Southampton') &     # & means OR
   (df.sex=='female')]

In [ ]:
df[((df.embark_town=='Southampton')  |     # | means OR
    (df.embark_town=='Queenstown' )) &
    (df.sex=='female')]

In [ ]:
df[df.age > 10]

### **Filtering by large Categories**

In [ ]:
df.age.value_counts()

In [ ]:
df.age.value_counts().nlargest(2)  # show 2 old age which is most in quantity

In [ ]:
counts = df.who.value_counts()
counts.nlargest(3)

In [ ]:
df[df.who.isin(counts.nlargest(3).index)].head(5)

### **Splitting a String into Multiple DataSet**

In [ ]:
df = pd.DataFrame({'name':['Ahmad Raza','Ali Afzal','Sajjad Ali','Abu Bakar'],
                   'location':['Lohore, Pakistan','Sargodha, Pakistan','Karachi, Pakistan','Hamburg, Germany']})
df

In [ ]:
df.name.str.split(' ' , expand=True)

In [ ]:
# Adding those splits into new columns
df[['first_name','last_name']] = df.name.str.split(' ' , expand=True)
df

In [ ]:
df[['city','country']] = df.location.str.split(', ' , expand=True)
df

In [ ]:
df = df[['first_name','last_name','city','country']]
df

### **Aggregate by multiple groups/function**

In [ ]:
df = sns.load_dataset('titanic')
df.head(3)

In [ ]:
df.groupby('who').count()

In [ ]:
df.groupby('who').count()

In [ ]:
len(df.groupby('who'))  # quantity of unique values

In [ ]:
df.groupby(['sex','pclass','who']).count()

### **Select specific rows or columns**

In [ ]:
df.head(2)

In [ ]:
# Select Columns
df[['sex','class','deck']]

In [ ]:
df.describe().loc[['min','25%','50%','75%','max']]
# OR
df.describe().loc['min':'max']  # Select min to max
# OR
df.describe().loc['min':'max','survived':'age'] # Select (min to max ROWS)or(survived to age COLUMNS)

### **Reshape Multi-Index series**

In [ ]:
df.head(2)

In [ ]:
df.survived.mean()
# OR
df.groupby('sex').survived.mean()
# OR
df.groupby(['sex','class']).survived.mean().unstack()

### **Continuous to Catagorical Data Conversion**

In [ ]:
df.head(2)

In [ ]:
df.age.head(4)

In [ ]:
df['new_age'] = pd.cut(df.age,bins=[0,18,25,99], labels=['child','young_adult','adult']).head()
df.head(4)

### **Convert one set of values info convert into AnotherOne**

In [ ]:
df.sex.head()

In [ ]:
df['sex_number'] = df.sex.map({'male':0,'female':1})
df.head()

In [ ]:
df.embarked.unique()

In [ ]:
df['embarked_number'] = df.embarked.factorize()[0]
df.head()

### **Transpose a wide DataFrame**

In [ ]:
df = pd.DataFrame(np.random.rand(200,26), columns=list('abcdefghijklmnopqrstuvwxyz'))
df.head(10)

In [ ]:
df.head(10).T  # When rows are less or columns are more than use T

In [ ]:
df.describe().T

### **Reshaping a DataFrame**

In [ ]:
df = pd.DataFrame([['12345',100,200,300],['34567',400,500,600],['67890',700,800,900]],
                    columns = ['zip','factory','warehouse','retail'])
df.head()

In [ ]:
sns.barplot(x='zip',y='factory',hue='warehouse', data=df)

In [ ]:
# For converting in this format.....
'''
df2 = pd.DataFrame([[1,'12345','factory'],[2,'34567','warehouse'],[3,'67890','retail']],
                    columns = ['user_id','zip','location_type'])
df2.head()
'''

In [ ]:
df_long = df.melt(id_vars='zip',var_name='location_type',value_name='distance')
df_long.head()

In [ ]:
sns.barplot(x='zip',y='distance',hue='location_type', data = df_long)

### **Exploring Categorical Attributes**

In [ ]:
cat_feature = [feature for feature in df.columns if df[feature].dtype=='object']
print('Number of Categorical Features are: ',len[cat_feature])

### **Outliers**

In [ ]:
Q1 = df['fare'].quantile(0.25)
print('Q1 is: ',Q1)
Q3 = df['fare'].quantile(0.75)
print('Q3 is: ',Q3)
IQR = Q3 - Q1
print('IQR is: ',IQR)

outliers = df['model'][(df['model'] < Q1 - 1.5*IQR) | (df['model'] > Q3 + 1.5*IQR)]
outliers


'''
def handle_outlier(col):
    clean_df[col]=np.log1p(clean_df[col])
'''

In [ ]:
''' Detection '''
# IQR
Q1 = np.percentile(df, 25,
                   interpolation = 'midpoint')
Q3 = np.percentile(df, 75,
                   interpolation = 'midpoint')
IQR = Q3 - Q1
print('--------------------------')
print("\033[1mOld Shape: \033[0m", df.shape)
# Upper bound
upper = np.where(df >= (Q3+1.5*IQR))
# Lower bound
lower = np.where(df <= (Q1-1.5*IQR))
''' Removing the Outliers '''
df.drop(upper[0], inplace = True)
df.drop(lower[0], inplace = True)
print("\033[1mNew Shape: \033[0m", df.shape)
print('--------------------------')

### **Convert Catagorical to Numaric (For ML)**

In [ ]:
from sklearn.preprocessing import LabelEncoder as le
df['meal'] = le.fit_transform(df['meal'])

### **For Making Pipelines**

In [ ]:
pipe = Pipeline([('scaling:',StandardScaler()),
                 ('algo:',LinearRegression())])
model = pipe.fit(X,y)

### **For Improving Accuracy (To much computing Power)**

In [ ]:
model = GridSearchCV(estimator = pipe,
                     param_grid= {'algo:__n_neighbors':[1,2,3,4,5,6,7,8,9,10]})

### **Null Values**

In [ ]:
def missing_zero_values_table(df):
        zero_val = (df == 0.00).astype(int).sum(axis=0)
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mz_table = pd.concat([zero_val, mis_val, mis_val_percent], axis=1)
        mz_table = mz_table.rename(
        columns = {0 : 'Zero Values', 1 : 'Missing Values', 2 : '% of Total Values'})
        mz_table['Total Zero Missing Values'] = mz_table['Zero Values'] + mz_table['Missing Values']
        mz_table['% Total Zero Missing Values'] = 100 * mz_table['Total Zero Missing Values'] / len(df)
        mz_table['Data Type'] = df.dtypes
        mz_table = mz_table[mz_table.iloc[:,1] != 0].sort_values('% of Total Values', ascending=False).round(1)
        print(f'Your selected dataframe has \033[1m{df.shape[1]}\033[0m columns and \033[1m{df.shape[0]}\033[0m Rows.\n\nThere are \033[1m{mz_table.shape[0]}\033[0m columns that have missing values.')
#mz_table.to_excel('D:/sampledata/missing_and_zero_values.xlsx', freeze_panes=(1,0), index = False)
        return mz_table
missing_zero_values_table(df)
'''
df = [item for item in df if str(item) != 'nan']
print(df)
'''

### **Bold letters inside f strings**

In [ ]:
a_string = "abc"
bolded_string = f"\033[1m{a_string}\033[0m"     # change 1 to 4 for underline
print (bolded_string)

### **Convert string to number**

In [ ]:
# Define function to convert string to number
def convert_to_number(string):
    if string.startswith('PKR'):
        if 'lacs' in string:
            return float(string.split()[1]) * 100000
        elif 'crore' in string:
            return float(string.split()[1]) * 10000000
        else:
            return None
    else:
        return None

# Apply function to column and create new column with numeric values
df['new_price'] = df['price'].apply(convert_to_number)

# Show updated column
print(df['new_price'])

### **Print df.describe**

In [ ]:
# Set float format option temporarily
with pd.option_context('float_format', '{:.2f}'.format):
    # Call describe with temporary option settings
    print(df.describe())

### **Convert All Columns to Snake Case**

In [ ]:
df.rename(lambda x:lower().strip().replace(' ', '_'),
          axis='columns', inplace=True)

### **Drop Unnecessary Columns**

In [ ]:
to_drop = ['app_id', 'minimum_andriod', 'developer_id']

df.drop(to_drop, axis='columns', inplace=True)

### **Collapse multiple categories into one**

In [ ]:
# Collapse 'Music' and 'Music & Audio' into 'Music'
df['category'] = df['category'].str.replace('Music & Audio', 'Music')

### **Specifying the Date_Time format significantly reduces conversion time**

In [ ]:
df['released'] = pd.to_datetime(df['released'], format =  '%b %d, %Y' ,
                                infer_datetime_format=True, error='coerce')