># DATA WRANGLING

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

In [8]:
kashti = sns.load_dataset('titanic')
ks1 = kashti
ks2 = kashti
ks  = kashti

In [ ]:
# simple operations (Math Operator)
(kashti['age']+12).head(10)

># Dealing with missing values
### 1- In a data set missing values are either? or N/A or NaN, or 0 or a blank cell.
### 2-  Jab kabhi data na ho kisi aik row main kisi b aik parameter ka.

># STEPS:
### 1- Koshish karen dobara data collect kar lain agar kahin ghalti hy.
### 2- Missing value wala variable (column) hi nikal dain agar data per effect nahi hota ya simple row or data entry remove kar den.
### 3- Replace the missing values:
##    1. How?
###      1. Average value of entire variable or similar data point.
###      2. Frequencey or MODE replacement.
###      3. Replace based on other functions(Data sampler knows that).
###      4. ML Algortihm can also used.
###      5. Leave it like that 
##    2. Why?
###      1. Its better because no data is lost.
###      2. Less accurate.

In [ ]:
# Where exactly missing values are?
kashti.isnull().sum()

In [ ]:
# Use drop.na method
print(kashti.shape)
kashti.dropna(subset=['deck'], axis=0, inplace=True)
# This will remove specifically OR 
# inplace=True modifies the data frame

In [ ]:
# Drop whole null in DATA
kashti.dropna()
# Drop whole null in DATA + update 
kashti= kashti.dropna()

In [16]:
kashti.shape

(891, 15)

> ## Replacing missing values with the average of that column

In [ ]:
# Finding an average (mean)
mean = ks1['age'].mean()
print(mean)

In [ ]:
# Replacing NaN with mean of the data (updating as well)
ks1['age'] = ks1['age'].replace(np.nan , mean)

> # Data Formating 

### 1- Data ko aik common standard per lana
### 2- Ensures data is consitent and understandable
### Easy to gater
### Easy to workwith
### 1 Lahore(LHR)
### 2 Sadiqabad(SDK)
### 3 Convert g to kg or similar uni for all.
### 4 One standard unit in each column

In [18]:
kashti.dtypes
kashti['survived']= kashti['survived'].astype("int64")

In [ ]:
ks1['age']=ks1['age']*365
ks1.head(10)

In [ ]:
ks1.rename(columns={"age":"AGE"}, inplace=True)
ks1.head(10)

> # Method of Normalization
### 1- Simple feature scaling 
        x(new) = x(old) / x(max)
### 2- Min-Max method
### 3- Z-score (standard score) {-3 to +3}
### 4- Log transformation

In [ ]:
ks4 =kashti[['AGE', 'fare']]
ks4.head()

In [ ]:
# Simple feature scalling 
ks4['fare'] = ks4['fare']/ks4['fare'].max()
ks4.head()

In [ ]:
# Min - Max method
ks4['fare'] = (ks4['fare']-ks4['fare'].min())/(ks4['fare'].max()-ks4['fare'].min())
ks4.head()

In [ ]:
# Z-score method
ks4['fare']=(ks4['fare']-ks4['fare'].mean())/ks4['fare'].std()
ks4.head()

In [ ]:
# log transformation 
ks['fare']=np.log(ks['fare'])
ks.head()

># Binning 
### 1- Grouping of values into smaller number of values (bins)
### 2- Convert numeric into categories (He,She) or 1-10, 11-20 ETC
### 3- To have better understanding of groups: LOW vs MID vs HIGH

In [ ]:
bins = np.linspace(min(kashti['AGE']), max(kashti['AGE']), 15000)
AGE_groups = ['Bachay','Jawan','Borhe']
kashti['AGE'] = pd.cut(kashti['AGE'],bins,labels=AGE_groups,include_lowest=True)
kashti['AGE']

> # **Converting categories into dummies**
### Easy to use for computation (ML)
### Male_Female(0,1)

In [ ]:
pd.get_dummies(ks1['sex'])