> # **1_One-Way_ANOVA**

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = sns.load_dataset('titanic')
df.head()

In [ ]:
# Comparition between 2 categorical variable for one conitinous
# Compare male&female age is applied T-Test
sns.boxplot(x='sex', y='age',data=df)

In [ ]:
# More than 2 groups(male&female) is applied ANOVA
# For Example (first class,2nd class,3rd class)
sns.boxplot(x='class', y='age',data=df)

In [ ]:
phool = sns.load_dataset('iris')
print(phool.sample(15))
print(phool.columns)
print(phool.describe())

In [ ]:
sns.boxplot(x='species',y='sepal_length',data=phool)

In [ ]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

# ONE-WAY_ANOVA
mod = ols('sepal_length ~ species',data=phool).fit() # Numaric first(sepal_length){~ = telda}
aov_table = sm.stats.anova_lm(mod,type=2)
print(aov_table)

# if p < 0.5 all 3 are significant difference

### i- Bonferroni TEST

In [ ]:
# Pair_wise comparison
pair_t = mod.t_test_pairwise('species',method='bonferroni') # also use sidak
pair_t.result_frame

### ii- Tukey hsd TEST

In [ ]:
import pingouin as pg
# First culculate ANOVA table
aov = pg.anova(dv='sepal_length',between='species',data=phool, detailed=True)# first continous then cetagorical 
print(aov)
# Tukey HSD
pt = pg.pairwise_tukey(dv='sepal_length',between='species',data=phool)
print(pt)

> # **2_Two-Way_ANOVA**

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.DataFrame({'water': np.repeat(['daily','weekly'], 15),
                    'sun' : np.tile(np.repeat(['low','medium','high'],5),2),
                    'height': [6,6,6,5,6,5,5,6,4,5,
                               6,6,7,8,7,3,4,4,4,5,
                               4,4,4,4,4,5,6,6,7,8]})
df.sample(10)

# Two way ANOVA  (Water+Sun)
# Cetagorical variable 2(water&sun{5(all variable)}) or 1(continous)

In [ ]:
sns.boxplot(df['sun'], df['height']) # hue=df['water']

In [ ]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

# ONE-WAY_ANOVA
mod = ols('height ~ sun',data=df).fit() 
aov_table = sm.stats.anova_lm(mod,type=2)
print(aov_table)
# TWO-WAY_ANOVA
mod = ols('height ~ C(sun)+C(water)+C(sun):C(water)',data=df).fit() 
aov_table = sm.stats.anova_lm(mod,type=2)
print(aov_table)

# if p < 0.5 all are significant difference

Another way for doing this (TWO-WAY_ANOVA)

In [ ]:
import pingouin as pg
# First culculate ANOVA table
aov = pg.anova(dv='height',between=['sun','water'],data=df, detailed=True)# first continous then cetagorical 
print(aov)
# Tukey HSD
pt = pg.pairwise_tukey(dv='height',between=['sun','water'],data=df)
print(pt)

In [ ]:
# qq norm plot 
res = mod.resid
fig = sm.qqplot(res,line='s')
plt.show()

> # **2_MANOVA**

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.multivariate.manova import MANOVA

In [ ]:
df = sns.load_dataset('iris')
df.columns

In [ ]:
mova = MANOVA.from_formula('sepal_length + sepal_width + petal_length + petal_width ~ species', data=df)
print(mova.mv_test())